.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.formulario > div {
    display: flex;
}

.link {

    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:  0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}