body {
  background-color: #444;
  color: white;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
}
